@import url("https://fonts.googleapis.com/css?family=BenchNine:300|Nanum+Gothic");
#root {
  background-image: url("..src/img/bg.jpg");
  background-size: cover;
  background-position: center center;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "BenchNine", "Nanum Gothic", sans-serif;
}
