@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes masked{
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000px -5000px;
  }
}

@-moz-keyframes masked{
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000px -5000px;
  }
}

@keyframes masked {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000px -5000px;
  }
}

@-webkit-keyframes masked {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000px -5000px;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(0px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatey(100px);
  }
}

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -moz-transform: translatey(0px);
  }

  to {
    opacity: 1;
    -moz-transform: translatey(100px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translatey(0px);
  }

  to {
    opacity: 1;
    transform: translatey(100px);
  }
}

#ABOUT {
  background: #000 url(../img/about_stars.png) repeat top center;
  z-index: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.twinkling {
  background: transparent url(../img/about_twinkling.png) repeat top center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.colorfulTitle {
  background: url(../img/about_stars.png);
}
.go .colorfulTitle h1 {
  font-size: 8rem;
  text-align: center;
  /* bottom padding should be higher to make up for pseudo border height */
  background: -webkit-linear-gradient(
      left,
      #0ff 0%,
      #97fba0 25%,
      #97b1fb 50%,
      #0ff 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: masked 10s linear infinite, fadeInDown 1.5s both 1;
  -webkit-animation: masked 10s linear infinite, fadeInDown 1.5s both 1;
  -moz-animation: masked 10s linear infinite, fadeInDown 1.5s both 1;
  -o-animation: masked 10s linear infinite, fadeInDown 1.5s both 1;
  opacity: 1;
}
.intro {
  position: absolute;
  font-family: "BenchNine", "Nanum Gothic", sans-serif;
  font-size: 1.5rem;
  color: #cac1c1;
  width: 80%;
  margin-top: 10%;
  padding: 10% 10%;
}
/* Responsive Device Resolution : tablet */
@media only screen and (max-width: 768px) {
  #ABOUT h1 {
    font-size: 5rem;
  }
  .intro {
    font-size: 1.2rem;
  }
}
/* Responsive Device Resolution : Mobile */
@media only screen and (max-width: 425px) {
  #ABOUT h1 {
    font-size: 4rem;
  }
}
